<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
   <add key="EndpointUri" value="https://<account>.documents.azure.com:443/" />
    <add key="PrimaryKey" value="<key>" />
    <add key="Region1" value="<primary region like: Central US>"/>
    <add key="Region2" value="<secondary regionlike: Central US>"/>
  </appSettings>
</configuration>