<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="subscriptionid" value="<your subscription id>"/>
    <add key ="tenantid" value="<tenant id>"/>

    <add key="EndpointUri" value="https://<cosmos db>.documents.azure.com:443/" />
    <add key="PrimaryKey" value="<your key>" />
  </appSettings>
</configuration>