<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://<account>.documents.azure.com:443/" />
    <add key="PrimaryKey" value="<key>" />
    <add key="ConnectionString" value="<cosmos db connection string>"/>
  </appSettings>
</configuration>